node_modules
.DS_Store
__pycache__
venv
.env
frontend/build/
.env.local
.env.development
.env.production
.env.test
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
Thumbs.db
**/__pycache__/
*.py[cod]
*.egg-info/
.python-version
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.rainnmeowissodian
.socornloveshim
# ________  ________  ___  ________   _____ ______   _______   ________  ___       __           ___  ________           ________  ________          ________  ___  ________  ________      
#|\   __  \|\   __  \|\  \|\   ___  \|\   _ \  _   \|\  ___ \ |\   __  \|\  \     |\  \        |\  \|\   ____\         |\   ____\|\   __  \        |\   ___ \|\  \|\   __  \|\   ___  \    
# \ \  \|\  \ \  \|\  \ \  \ \  \\ \  \ \  \\\__\ \  \ \   __/|\ \  \|\  \ \  \    \ \  \       \ \  \ \  \___|_        \ \  \___|\ \  \|\  \       \ \  \_|\ \ \  \ \  \|\  \ \  \\ \  \   
# \ \   _  _\ \   __  \ \  \ \  \\ \  \ \  \\|__| \  \ \  \_|/_\ \  \\\  \ \  \  __\ \  \       \ \  \ \_____  \        \ \_____  \ \  \\\  \       \ \  \ \\ \ \  \ \   __  \ \  \\ \  \  
#  \ \  \\  \\ \  \ \  \ \  \ \  \\ \  \ \  \    \ \  \ \  \_|\ \ \  \\\  \ \  \|\__\_\  \       \ \  \|____|\  \        \|____|\  \ \  \\\  \       \ \  \_\\ \ \  \ \  \ \  \ \  \\ \  \ 
#   \ \__\\ _\\ \__\ \__\ \__\ \__\\ \__\ \__\    \ \__\ \_______\ \_______\ \____________\       \ \__\____\_\  \         ____\_\  \ \_______\       \ \_______\ \__\ \__\ \__\ \__\\ \__\
#    \|__|\|__|\|__|\|__|\|__|\|__| \|__|\|__|     \|__|\|_______|\|_______|\|____________|        \|__|\_________\       |\_________\|_______|        \|_______|\|__|\|__|\|__|\|__| \|__|
                                                                                                                                                                                      
*.db
*.sqlite3
